DEPLOY_HOST=
DEPLOY_USER=
DEPLOY_DOMAIN=innocenz.com
# DEPLOY_SSH_PORT=22
# DEPLOY_REMOTE_DIR=~/innocenz-production
# FRONTEND_IMAGE=juneyou/innocenz-frontend:production
# BACKEND_IMAGE=juneyou/innocenz-backend:production
