DEPLOY_HOST=
DEPLOY_USER=
DEPLOY_DOMAIN=innocenz.duckdns.org
# DEPLOY_SSH_PORT=22
# DEPLOY_REMOTE_DIR=~/innocenz-staging
# FRONTEND_IMAGE=juneyou/innocenz-frontend:staging
# BACKEND_IMAGE=juneyou/innocenz-backend:staging
